@using BlazingApple.Survey.Components.Internal.Questions
@using BlazingApple.Survey.Components.Services
@using BlazingApple.Components
@strError
@if (_surveys != null)
{
	<div>
		@if (!ExistingSurveys.HasValue)
		{
			@if (LoadingContent is not null)
			{
				@LoadingContent
			}
			else {

				<Loading/>
			}
		}
		else
		{
			if (ExistingSurveys == true)
			{
				@foreach(Shared.Survey survey in _surveys)
				{
					<RenderSurveyCardAdmin
						AdditionalSegments="@AdditionalSegments"
						Survey="survey" 
						MaxOptionsDisplay="@MaxOptionsDisplay" 
						OnUpdate="RefreshSurveys" 
						OnDelete="Delete">
						<SurveyHeaderContent>
							@if (SurveyHeaderContent is not null)
							{
								@SurveyHeaderContent(survey)
							}
						</SurveyHeaderContent>
						<SurveyBodyContent>
							@if (SurveyBodyContent is not null)
							{
								@SurveyBodyContent(survey)
							}
						</SurveyBodyContent>
						<SurveyFooterContent>
							@if (SurveyFooterContent is not null)
							{
								@SurveyFooterContent(survey)
							}
						</SurveyFooterContent>
					</RenderSurveyCardAdmin>
				}
			}
		}

		@if (!_isCreatingNewSurvey) 
		{
			<div class="d-flex justify-content-center">
				<button class="btn btn-primary me-2" title="New Survey" @onclick="OnNewSurveyClick">
					<i class="fas fa-poll"></i> @NewSurveyLabel
				</button>
			</div>
		}

		@if (_isCreatingNewSurvey && _newSurvey is not null)
		{
			<div class="my-2">
				<EditSurveyInline SelectedSurvey="_newSurvey" AdditionalSegments="@AdditionalSegments" @bind-Value="_isCreatingNewSurvey" OnClose="RefreshSurveys"></EditSurveyInline>
			</div>
		}
	</div>

}
