@using BlazingApple.Survey.Components.Internal.Questions
@using BlazingApple.Survey.Components.Services

@strError
@if (SeeResults)
{
	<button @onclick="OnStartOverClick" class="ms-1 btn btn-primary">Back</button>
	<RenderSurveyResults SelectedSurvey="SelectedSurvey"></RenderSurveyResults>
}
else if(SelectedSurvey is not null)
{
	@if (ShowSurveyComplete)
	{
		<h4>@string.Concat(SelectedSurvey.Name, " - ", @SurveyCompleteText)</h4>
	}
	else
	{
		<h4>@SelectedSurvey.Name</h4>
	}
	@if (SelectedSurvey.Questions?.Count <= 0)
	{
		<h4>@NoQuestionsText</h4>
	}
	else if(SelectedSurvey != null && SelectedSurvey.Questions != null)
	{
		<EditForm EditContext="_editContext" OnValidSubmit="@SaveSurvey">
			<DataAnnotationsValidator />
			<div>
				@foreach (DTOQuestion Question in SelectedSurvey.Questions.OrderBy(x => x.Position))
				{
					@if(Question is not null) {
						<div class="row">
							<div class="col-md-9" style="text-align: left;margin-bottom: 20px">
								<div class="form-group">
									<RenderQuestion QuestionAnswer="Question"/>
								</div>
							</div>
						</div>
					}
				}
			</div>
			<div class="row">
				<div class="col-lg-12">
					<button class="btn btn-primary" type="submit" disabled="@ShowSurveyComplete">Submit</button>
					@if (ShowSurveyComplete && AllowSeeResults)
					{
						<button class="btn btn-outline-primary" @onclick="OnSeeResultsClick" style="margin-left:.5rem;">See Results</button>
					}
				</div>
			</div>
		</EditForm>
	}
}
