@if(Item != null) {

	<label for="@_idString">@Item.Prompt</label>
	<br />
	<EditForm Model="Item">
		@if (Item.Type == QuestionType.TextBox)
		{
			<InputText id="@_idString" class="form-control" @bind-Value="@_dummyString" />
		}
		else if (Item.Type == QuestionType.TextArea)
		{
			<InputTextArea id="@_idString" class="form-control" @bind-Value="@_dummyString" />
		}
		else if (Item.Type == QuestionType.Date)
		{
			<InputDate id="@_idString" class="form-control" DateFormat="d" TValue="DateTime?" @bind-Value="_dummyDateTime" />
		}
		else if (Item.Type == QuestionType.DateTime)
		{
			<BlazingApple.Survey.Internal.InputDateTime id="@_idString" class="form-control" TValue="DateTime?" @bind-Value="@_dummyDateTime" />
		}
		else if (Item.Type == QuestionType.Dropdown && Item.Options != null)
		{
			<InputSelect id="@_idString" class="form-control" @bind-Value="@Answer.AnswerValueString">
				@foreach (QuestionOption option in Item.Options.OrderBy(x => x.Id))
					{
					<option value="@option.OptionLabel">@option.OptionLabel</option>
					}
			</InputSelect>
		}
		else if (Item.Type == QuestionType.DropdownMultiSelect && Item.Options != null)
		{
			<RadzenDropDown TValue="IEnumerable<string>"
							Multiple="true"
							AllowClear="true"
							AllowFiltering="true"
							Placeholder="Select..."
							Data="@Item.Options.OrderBy(x => x.Id)"
							@bind-Value="Answer.AnswerValueList"
							TextProperty="OptionLabel"
							ValueProperty="OptionLabel"
							Style="width:300px;" />
		}
	</EditForm>
}