<label for="@idString">@item.ItemLabel</label>
<br />
<EditForm Model="item">
	@if (item.ItemType == "Text Box")
	{
		<InputText id="@idString" class="form-control" @bind-Value="@dummyString" />
	}
@if (item.ItemType == "Text Area")
{
	<InputTextArea id="@idString" class="form-control" @bind-Value="@dummyString" />
}
@if (item.ItemType == "Date")
{
	<InputDate id="@idString" class="form-control" DateFormat="d" TValue="DateTime?" @bind-Value="dummyDateTime" />
}
@if (item.ItemType == "Date Time")
{
	<InputDateTime id="@idString" class="form-control" TValue="DateTime?" @bind-Value="dummyDateTime" />
}
@if (item.ItemType == "Dropdown")
{
	<InputSelect id="@idString" class="form-control" @bind-Value="@Answer.AnswerValueString">
		@foreach (SurveyItemOption option in @item.SurveyItemOptions.OrderBy(x => x.Id))
			{
			<option value="@option.OptionLabel">@option.OptionLabel</option>
			}
	</InputSelect>
}
@if (item.ItemType == "Multi-Select Dropdown")
{
	<RadzenDropDown TValue="IEnumerable<string>"
					Multiple="true"
					AllowClear="true"
					AllowFiltering="true"
					Placeholder="Select..."
					Data="@item.SurveyItemOptions.OrderBy(x => x.Id)"
					@bind-Value="Answer.AnswerValueList"
					TextProperty="OptionLabel"
					ValueProperty="OptionLabel"
					Style="width:300px;" />
}
</EditForm>

@code {
	[Parameter]
	public BlazingApple.Survey.Shared.SurveyItem item { get; set; }

	private string dummyString,idString;
	private DateTime? dummyDateTime;
	DTOSurveyItem Answer = new DTOSurveyItem();

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		idString = "itemControl-" + item.Position;
	}

}
